body {
    background-color: #fefbe9;
}

p {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4em;
}

h1 {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;   
    color: black;
    font-size: 60px;
    width: 40%;
    margin-bottom: 2%;
    text-align: left;
}

h2 {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif; 
    font-weight: 500;
    font-size: 2.441em;
    word-spacing: 0.2em;
    margin: 0;
    padding-top: 15px;
}

h3{
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;  
    font-weight: 500;
    font-size: 2.441em;
    word-spacing: 0.2em;
    margin: 0;
    padding-top: 10px;
}



* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.slideshow-container {
    position: relative;
    margin: auto;
    padding-left: .5%;
    padding-right: .5%;
    padding-top: .5%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    margin-right: .55%;
    color: #fdffe1;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(214,168,0,0.7);
}

.text {
    color: black;
    font-size: 60px;
    font-weight: 700;
    padding: 16px 1px;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}

.navtext {
    display: inline-block;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-left: .6%;
    padding-right: 1.2%;
    margin-top: -2%;
    color:black;
}

.navimg {
    display: inline-block;
    padding-top: .6%;
    padding-left: 1%;
    width: 3%;
    position: relative;
}

.aboutusimg{
    margin-right: 2%; 
    margin-left: 2%;
    float: left;
    border-radius: 10px;
    width: 50%;
}

h4{
    position: relative;
    font-size: 3em;
    margin-left: 4%;
    margin-top: 25%;
    width: 40%;
}

dl{
    margin-left: 4%;
    width: 40%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #4f3674;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #D6A800;
}

/* change animation type to slide?
*/
.fade {
  animation-name: fade;
  animation-duration: 1.0s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*If any of the navbar CSS attributes are changed please make sure it does not break the looks of the page*/
.navbar {
    overflow: hidden;
    background-color: #e1eedd;
    text-align: left;
}


.navbarButton {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    margin-top: -2.4%;
}

.navbarButton:hover, .navbarButtonLogOut:hover {
    color: black;
    background-color: rgba(214,168,0,0.7); 
}

.navbarButtonActive {
    display: inline-block;
    color: black;
    background-color: #D6A800;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    margin-top: -2.4%;
}

.navbarButtonLogOut {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    margin-top: 20px;
	float: right;
}
/*If any of the navbar CSS attributes are changed please make sure it does not break the looks of the page*/
.boxes {
	border: 2px solid black;
    float: left;
    width: 29%; 
    margin: 2%; 
    padding: 1%;
    color: black;
    border-radius: 15px;
}

.boxes2 {
	border: 2px solid black;
    float: left;
    width: 100%; 
    margin: 2%; 
    padding: 1%;
    color: black;
    border-radius: 15px;
}

.box {
    float: right; 
    width: 40%; 
    margin-top: 1%; 
    margin-left: 3%;
    padding: 3%;
    color: black;
    border-radius: 15px;
}

.randl {
	border: 2px solid black;
	background-color: #f7e3b4; 
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 500px;
	padding:10px;
	text-align: center;
	border-radius: 10px;
}

.formHeading {
	font-size: 1.875em;
	margin-bottom: 10px;
	color: white;
    background-color: #183a1d;
    width: 100%;
    text-align: center;
}

.formInput {
	margin-bottom: 5px;
}

td {
	text-align: right;
}

#comments {
	height: 75px;
}

.center {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
 
} 

.highlight:hover {
    color: white;
    background-color: #fdffe1; 
    padding: 2px;
}

button {
    margin: center;
    background-color: #183a1d;
    color: white;
    height: 45px;
    width: 100px;
    font-size: large;
    cursor: pointer; 
    margin-bottom: 10px;
    border-radius: 10px;
}

#cancel {
    margin: center;
    background-color: red;
    color: white;
    height: 35px;
    width: 75px;
    font-size: large;
    cursor: pointer; 
    margin-bottom: 10px;
    border-radius: 10px;
}

.response {
	display:block;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.responseHeader {
	font-size: 1.25em;
}

/* Styles for Locations Page */
#locationimg {
	position: left;
	border-radius: 10px;
	margin-top: -200px;
	margin-bottom: -220px;
	margin-left: auto;
	margin-right: auto;
	text-align: center; 
	transform: scale(1.65);	
}

.aboutUs {
    position: right;
}

.aboutBox {
	display: inline-block; 
    width: 40%; 
    margin-left: 3%;
    padding: 3%;
    color: black;
    border-radius: 15px;
}

* {
  box-sizing: border-box;
}

/* Container holding the image and the text */
.image {
  position: relative;
  text-align: center;
  color: white;
  font-size: 50px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 75px;
  left: 25%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* Style the container/contact section */
.container {
  font-size: 60px;
  border-radius: 5px;
  background-color: #fefbe9;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  font-size: 22px;
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*-----------------------------------------------------*/

/* Define a container for the layout */

.main-container {
    display: grid;
    grid-template-columns: 66.67% 33.33%;
}

.left-container {
    grid-column: 1 / 2;
	margin-left: 5%;
	margin-top: 10%;
}

.left-container img{
    width: 70%;
    height: 80%;
}




.right-container img{
	height: 100px;
    width: 100px;
    
   	object-fit: cover;
}

.right-container a{
	display: block;
	text-align: center;
	margin-top: 10px;
}




/*------------Boxes around the images-------------*/
.right-container {
    display: grid;
    padding-top: 5%;
    padding-right: 5%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap: 10px;
    column-gap: 20px;
    
}

.frame{
    width: 300%;
}




.image-box {
    width: 33.33%;
    height: 60%;
    border: 1px solid #000;
    border-radius: 1px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
}

.link_text{
    margin-left: -70%;
    text-align: center;
}





/*-----------------------------------------------------*/

/*
color: #D6A800; gold
*/